---
const currentYear = new Date().getFullYear()
---

<footer class="flex flex-wrap items-center gap-1 py-10">
  <p>&copy; {currentYear}</p>

  {
    [
      {
        text: "Designed By",
        link: "",
        label: "Hirotaka Iwasaki",
      },
      {
        text: "Powered By",
        link: "https://astro.build/",
        label: "Astro",
      },
    ].map((item, index) => (
      <>
        {index > 0 && <p class="mx-1">|</p>}
        <p>{item.text}</p>
        <a
          href={item.link}
          class="text-blue-600 transition-colors duration-200 hover:text-blue-800"
          data-umami-event={`footer-${item.label}`}
        >
          {item.label}
        </a>
      </>
    ))
  }
</footer>
